@charset "utf-8";

/* ========================================
リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}

body {
    background-color: #f6e8ce;
}


div#wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    div#wrapper {
        width: 100%;
        background-color: #f2f2f2;
    }
}

body {
    background-color: #f6e8ce;
}


div#wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    div#wrapper {
        width: 100%;
        background-color: #f2f2f2;
    }
}
/* ========================================
header
========================================= */

header {
    background: url(../images/bg_img.png);
    width: 100%;
    height: 400px;
    margin-bottom: 29px;
    text-align: center;
    position: relative;
    background-size: cover;
}

header h1 {
    color: #fff;
    font-size: 45px;
    padding-top: 110px;
}

@media screen and (max-width: 479px) {
    header h1 {
        font-size: 33px;
        padding-top: 130px;
    } 
}

header h2 {
    color: #bfc0c4;
    font-size: 27px;
    margin-top: 8px;
}

@media screen and (max-width: 479px) {
    header h2 {
        margin: 20px;
    }
}

/* ========================================
#main_contents
========================================= */

div#main_contents {
    width: 666px;
    height: auto;
    float: left;
    margin-left: 34px;
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    div#main_contents {
        width: 100%;
        height: auto;
        text-align: center;
        margin-left: 0;
    }
}

div#main_contents dl dt,
div#main_contents dl dd {
    margin-top: 23px;
}

#main_title h2 {
    font-size: 25px;
    color: #619e96;
    border-bottom: 3px solid #d9dd89;
}

@media screen and (max-width: 479px) {
    #main_title h2 {
        font-size: 25px;
        color: #619e96;
        border-bottom: 3px solid #d9dd89;
        margin: 0 10px;
    }
}

#main_image {
    background: url(../images/pasta.jpg);
    width: 290px;
    height: 200px;
    float: left;
}

@media screen and (max-width: 479px) {
    #main_image {
        background: url(../images/pasta.jpg) no-repeat center ;
        width: 100%;
        height: 200px;
        margin: 10px 0;
    }
}

#main_text {
    width: 356px;
    height: auto;
    float: right;
}

@media screen and (max-width: 479px) {
    #main_text {
        width: 100%;
        height: auto;
    }
}

#main_text ol {
    list-style-type: decimal;
    margin: 0 20px 10px 20px;
}

@media screen and (max-width: 479px) {
    #main_text ol {
        margin: 0;
    }
}


#main_text ol li {
    margin-bottom: 10px;
}

@media screen and (max-width: 479px) {
    #main_text ol li {
        margin: 0 25px;
        line-height: 2;
    }
}
.side {
    background: orange;
    width: 30%;
}
footer {
    background: plum;
}

/* ========================================
#side_menu
========================================= */

div#side_menu {
    width: 236px;
    height: auto;
    float: right;
    margin-right: 34px;
}

@media screen and (max-width: 479px) {
    div#side_menu {
        width: 100%;
        height: auto;
        margin: 0;
    }
}

div#side_menu h3 {
    margin-bottom: 17px;
    background-color: #f49b7b;
    color: #fff;
    font-size: 20px;
    padding: 16px;
}

div#side_menu ul li {
    line-height: 1.5;
}

@media screen and (max-width: 479px) {
    div#side_menu ul li {
        line-height: 2;
    } 
}

#last_list {
    margin-top: 34px;
}

div#side_menu ul li a {
    text-decoration: none;
    color: #565656;
    margin-left: 18px;
}

/*改行*/

/* スマホのときは改行なし */
.br_sm {
    display: none;
}

@media (min-width: 768px) {
    .br_sm {
        display: inline;
    }
}
/* スマホのときは改行あり */
.br_lg {
    display: none;
}

@media (max-width: 768px) {
    .br_lg {
        display: inline;
    }
}

/* ========================================
footer
========================================= */

footer {
    background-color: #639c95;
    width: 100%;
    height: 104px;
    margin-top: 29px;
    border-top: 12px solid #94b985;
}

footer p {
    color: #fff;
    height: 50px;
    line-height: 104px;
    text-align: center;
}